<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p>{{ title }} - data set of {{ gridData.length}} items</p>
</div>

<div>
    <kendo-grid 
      [data]="gridView" 
      [height]="410"
      [sortable]="true"
      [sort]="sort"
      filterable="menu"
      [resizable]="true"
      [filter]="state.filter"
      (sortChange)="sortChange($event)"
      (dataStateChange)="dataStateChange($event)"
      >

        <kendo-grid-column field="team" title="Team">
        </kendo-grid-column>
        <kendo-grid-column field="programme" title="Programme">
        </kendo-grid-column>
        <kendo-grid-column field="clientName" title="Client Name">
        </kendo-grid-column>
        <kendo-grid-column field="reference" title="Reference">
        </kendo-grid-column>
        <kendo-grid-column field="dateCreated" title="Created">
        </kendo-grid-column>
    </kendo-grid>
</div>
